.mediaControllerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #505050;
  padding: 2rem;
}

.controllersContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
}
.callContainer {
  background-color: transparent;
}

.controllerButton {
  cursor: pointer;
  font-size: 1.4rem;
  outline: none;
  border: 1px solid #aaa;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
}
