.localVideoContainer {
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: 260px;
  height: 180px;
  overflow: hidden;
  border-radius: 4px;
}

.localCameraOffContainer {
  border: 1px solid #9eadad;
}

@media screen and (max-width: 600px) {
  .localVideoContainer {
    width: 200px;
    height: 150px;
  }
}
