.localVideoContainer {
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: 260px;
  height: 180px;
  overflow: hidden;
  border-radius: 4px;
}

.localVideoContainer > * {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.localCameraOffContainer {
  border: 1px solid #9eadad;
}

@media screen and (max-width: 600px) {
  .localVideoContainer {
    right: 12px;
    bottom: 12px;
    width: 200px;
    height: 150px;
  }
}
