*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a4545;
}

a,
button {
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}
