*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

body {
  background-color: #3a4545;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a,
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  html {
    height: 100%;
    padding: 10px 0;
  }
}
