.allowedContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;

  width: 100%;
}

.allowedContainer h1 {
  color: #aaa;
  font-weight: 500;
}

.allowedContainer button {
  color: #aaa;
  font-weight: 500;
  outline: none;
  border: 2px solid #aaa;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.mediaContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.infoContainer {
}
