.roomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.roomContainer h1 {
  color: #aaa;
  font-weight: 500;
}

.roomContainer button {
  color: #aaa;
  font-weight: 500;
  outline: none;
  border: 2px solid #aaa;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
