.roomContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  height: 600px;
  width: 100%;
}

.videosWrapper {
  width: 100%;
  height: 100%;
  align-self: stretch;
  position: relative;
}

.localVideoContainer {
  position: relative;

  width: 250px;
  height: 250px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }
}
