.container {
  background-color: transparent;
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}
