.videoCallContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.isCallingContainer {
  height: 600px;
}

@media screen and (max-width: 600px) {
  .videoCallContainer {
    gap: 16px;
  }
}
